<header class="main-header">
<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand"><b>tFood</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>


    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
      <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a [routerLink]="['/restaurants']">Restaurants</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>

    <mt-user-detail></mt-user-detail>

  </div>
</nav>
</header>
