<div class="table-responsive">
  <table class="table">
    <tbody><tr>
      <th style="width:50%">Itens:</th>
      <td class="text-right">{{itemsValue | currency: 'CAD':'symbol' }}</td>
    </tr>
    <tr>
      <th>Delivery fee:</th>
      <td class="text-right">{{delivery | currency: 'CAD':'symbol' }}</td>
    </tr>
    <tr>
      <th>Total:</th>
      <td class="text-right">{{total() | currency: 'CAD':'symbol' }}</td>
    </tr>
  </tbody></table>
</div>
