<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="user user-menu">
      <span *ngIf="isLoggedIn(); else notLoggedIn">
        Hi, {{user().name}} | <a (click)="logout()">Logout</a>
      </span>
      <ng-template #notLoggedIn>
        <a (click)="login()">Sign in</a>
      </ng-template>

    </li>
  </ul>
</div>
