 <section class="content-header">
     </section>

     <section class="content">
       <section class="invoice">
          <!-- ttrojano - validar o formulario  {{form.valid}}
            {{form.value | json}} -->

             <form [formGroup]="orderForm" novalidate>
               <div class="row">
                 <div class="col-xs-12">
                   <h2 class="page-header">
                     <i class="fa fa-shopping-cart"></i> CheckOut
                   </h2>
                 </div>
               </div>
               <div class="row">
                 <div class="col-xs-12 cols-sm-9">
                   <p class="lead">Contact Information:</p>
                 </div>
                 <div class="col-xs-12 cols-sm-3">
                   <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> E-mail não conferem</span>
                </div>

                 <div class="col-sm-12 col-xs-12">
                   <mt-input-container errorMessage="Field Requered" label="Name">
                     <input class="form-control" formControlName="name" autocomplete="off" placeholder="Name" value= {{user().name}} >
                   </mt-input-container>
                 </div>
                 
               </div>
               <div class="row">
                 <div class="col-xs-12">
                   <p class="lead">Delivery address:</p>
                 </div>
                 <div class="col-sm-6 col-xs-12">
                   <mt-input-container errorMessage="Field Requered" label="Adress">
                     <input class="form-control" formControlName="address" placeholder="Address">
                   </mt-input-container>
                 </div>
                 <div class="col-sm-6 col-xs-12">
                   <div class="form-group">
                     <mt-input-container  label="Number">
                       <input type="text" class="form-control" formControlName="optionalAddress" placeholder="Complement" autocomplete="off">
                     </mt-input-container>
                  </div>
                 </div>

               </div>
               <div class="row">
                 <div class="col-xs-12">
                   <p class="lead">Items:</p>
                 </div>
                  <mt-order-items [items]="cartItems()"
                      (increaseQty)="increaseQty($event)"
                      (decreaseQty)="decreaseQty($event)"
                      (remove)="remove($event)"></mt-order-items>

               </div>


               <div class="row">

                 <div class="col-sm-6 col-xs-12">
                   <p class="lead">Payment Options:</p>

                     <div class="form-group">
                        <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>

                     </div>

                 </div>

                 <div class="col-sm-6 col-xs-12">


                    <mt-delivery-costs
                      [delivery]="delivery"
                      [itemsValue] = "itemsValue()"></mt-delivery-costs>

                 </div>

               </div>

             </form>

             <div class="row">
               <div class="col-xs-12">
                 <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right"
                    [disabled]="!orderForm.valid || cartItems().length ===0">
                      <i class="fa fa-credit-card"></i> CheckOut
                 </button>
               </div>
             </div>

         </section>
     </section>
