<!-- INíCIO do CONTEÚDO -->
     <section class="content-header">
       <h1>
         Restaurants
         <a><i class="search-link pull-right fa fa-search"></i></a>
       </h1>
     <div class = "row">
       <div class="col-xs-12">
         <form [formGroup]="searchForm">
           <div class = "form-group">
              <input type="text" formControlName="searchControl"
                     class="form-control" placeholder="Search...">
            </div>
         </form>
      </div>
    </div>

    </section>


     <section class="content">

       <div class="row">
               <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
                  <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
               </div>
               <div *ngIf="restaurants?.length === 0"  class="col-xs-12">
                 <p class="lead text-center">Not Found </p>
               </div>
      </div>
     </section>

     <!-- FIM  do CONTEÚDO -->
