<div class="wrapper">

<mt-header></mt-header>


  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <mt-snackbar></mt-snackbar>

  <footer class="main-footer">
    <div class="container">

      <strong>tFood</strong>
    </div>
  </footer>
</div>
