<section class="content-header">
  <h1>
    Orders
  </h1>
</section>


<section class="content">

  <div class="row">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-mail</th>
          <th>Address</th>
          <th>Items</th>
         </tr>
      </thead>
      <tbody class="table-hover">
        <tr *ngFor="let order of orders">
          <td>{{order.name}}</td>
          <td>{{order.email}}</td>
          <td>{{order.address}}</td>
          <td>
            <ol *ngFor="let items of order.orderItems">{{items.quantity}} - {{items.MenuId}} </ol>
         </td>
        </tr>
      </tbody>
    </table>
 </div>
</section>









<!-- FIM  do CONTEÚDO -->
