      <section class="content-header">
      </section>

      <section class="content">
        <div class="jumbotron">
          <h2>Order completed successfully!</h2>
          <p>Your order was received by the restaurant.</p>
          <p><b>Review</b> your experience:</p>

          <p><mt-rating (rated)="rate()"></mt-rating></p>
          <p *ngIf="rated">
            Thanks for your review!</p>
        </div>

      </section>
