
      <section class="content-header">
      </section>

      <section class="content">

        <div class="jumbotron welcome-jumbotron">
          <p>
               Are you hungry? Order Delivery Food Online.
           </p>
          <div>
            <a class="btn btn-primary btn-lg" [routerLink]="['./restaurants']">Restaurants</a>
          </div>




    </div>


  </section>
